body {
    background-color: #1c1b29;
    font-family: Arial, sans-serif;
    color: #c7c6e2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #6d60e5;
    display: inline-block;
}

.username {
    font-size: 36px;
    font-weight: bold;
    color: #ad92ff;
    margin-top: 20px;
}

.bio {
    font-size: 16px;
    margin-top: 10px;
    max-width: 600px;
    line-height: 1.5;
}

.social-stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.social-stats div {
    text-align: center;
}

.social-stats img {
    width: 40px;
    height: 40px;
}

.social-count {
    font-size: 20px;
    color: #c7c6e2;
    margin-top: 5px;
}

.video-gallery {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        max-width: 800px;
        margin: 40px 0;
}

.video-container {
    background-color: #292844;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
}

video {
    width: 100%;
        aspect-ratio: 9 / 16;
        background-color: #44416a;
        border-radius: 8px;
        object-fit: cover;
}

.video-info {
    margin-top: 10px;
    white-space: nowrap; /* Metnin tek satırda olmasını sağlar */
    overflow: hidden; /* Taşan metni gizler */
    text-overflow: ellipsis; /* Taşan metin için "..." gösterir */
    width: 100%; /* Alanı genişletir */
    font-size: 14px;
    line-height: 1.5;
}

.video-info a {
    color: #007bff; /* Link rengini mavi yapar */
    text-decoration: none; /* Alt çizgiyi kaldırır */
    white-space: nowrap; /* Linkin taşmasını engeller */
}

.video-info a:hover {
    text-decoration: underline; /* Linkin üzerine gelindiğinde alt çizgiyi ekler */
}

